body {
    background-color: #232222;
}

@font-face {
    font-family: robotomono;
    src: url(../fonts/RobotoMono.ttf);
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.smalltext {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 12pt;
    font-family: "robotomono";
    text-align: center;
    color: #ffffff;
}

#clockbox {
    color: #ffffff; 
    font-size: 48pt;
    font-family: "robotomono";
    text-align: center;
}

.links {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    color: #ffffff;
    font-size: 24pt;
    font-family: "robotomono";
    text-align: center;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
