@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    background-color: #232331;
    margin: 4% 18%;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
} 

table {
    width: 50%;
    margin-left: auto; 
    margin-right: auto;
}

td {
    padding: 0px;
    text-align: center;
    width: 10%;
}

.button {
    background-color: #7d7dad; 
    border: none;
    color: #232331;
    font-family: 'Pragati Narrow', sans-serif;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
  }

h1 {
color: #ababbf;
font-family: 'Pragati Narrow', sans-serif;
font-size: 48px;
}

.clockbox {
    color: #ababbf;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 48px;
    display: inline;
}

p {
color: #8484a4;
font-family: 'Pragati Narrow', sans-serif;
font-size: 30px;
}

.smaller {
    color: #8484a4;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 18px;  
}

.nowplaying {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size:18px;
    display: inline-block
}

.npdv {
    width: 50%;
    height: 100px;
    margin: 2% 1%;
}

a {
    color: #8484a4;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 30px;
}

#hiddenz {
    display: none;
}

